<head>
  <meta charset="utf-8"> 
  <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">  
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="panel panel-info">
        <div class="panel-heading"><i class="fa fa-info-circle"></i>　<b>请核实、完善个人基本信息。如关键项目需更改，请与辅导员或管理员联系。</b></div>
    </div>
        <form class="form-horizontal m-t" id="edit_form" action="/informations" method="get" novalidate="novalidate">

        <div class="ibox float-e-margins">
            <h5 class="text-center"><strong>个人信息</strong></h5>
            <div class="ibox-content">
              <div class="form-group js-not-deal">
                    <label class="col-sm-2 control-label">姓　名</label>
                    <div class="col-sm-3">
                        <div><input type="text" class="form-control" name="information[name]" value="<%= @information.name %>" readonly="">
                        </div> 
                    </div>
                    <label class="col-sm-2 control-label">学　号</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" name="information[school_number]" value="<%= @information.school_number %>" readonly="">
                    </div>
                </div>

                <div class="form-group" id="s_birthday">
                    <label class="col-sm-2 control-label">出生日期</label>
                    <div class="col-sm-3">
                        <div class="input-group date" id="datetimepicker1">
                            <input type="text" class="form-control" name="information[birthday]" value="<%= @information.birthday %>" maxlength="10" readonly="">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">
                                <span style="color: red">*</span>
                                生源地区
                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="information[area]" value="<%= @information.area %>" id="s_local_cn" >
                                </div>
                                <span class="help-block help-init"><i class="fa fa-info-circle"></i> 一般为入学前时户口所在地，高考时本人户口所在地或父母户口所在地 </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">婚姻状况</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <select class="form-control m-b" name="information[marriage]" value="<%= @information.marriage %>"><option value="未婚" selected="selected">未婚</option><option value="已婚">已婚</option></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">身　高</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="information[height]" value="<%= @information.height %>"> <span class="input-group-addon"> CM </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">经济状况</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <select class="form-control m-b" name="information[economic]" value="<%= @information.economic %>"><option value="很好">很好</option><option value="较好">较好</option><option value="一般" selected="selected">一般</option><option value="困难">困难</option><option value="比较困难">比较困难</option><option value="非常困难">非常困难</option></select>
                                </div>                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">体　重</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="information[weight]" value="<%= @information.weight %>"> <span class="input-group-addon"> KG </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <span style="color: red">*</span>
                        户口地区
                    </label>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <input type="text" class="form-control" name="information[censuc_register]" id="s_hk_local_cn" value="<%= @information.censuc_register %>">
                        </div> 
                     </div>
                </div>
            </div>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-content">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span style="color: red">*</span>手　机</label>
                            <div class="col-sm-6">
                                <div><input type="text" class="form-control" name="information[tell_phone]" value="<%= @information.tell_phone %>"></div>                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">QQ　号</label>
                            <div class="col-sm-6">
                                <div><input type="text" class="form-control" name="information[QQ]" value="<%= @information.QQ %>" maxlength="20"></div>                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span style="color: red">*</span>家庭电话</label>
                            <div class="col-sm-6">
                                <div><input type="text" class="form-control" name="information[fixed_phone]" value="<%= @information.fixed_phone %>"></div>
                                <span class="help-block help-init"><i class="fa fa-info-circle"></i> 固定电话，格式：区号-电话号或手机号 </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"><span style="color: red">*</span>家庭地址</label>
                            <div class="col-sm-6">
                                <div><input type="text" class="form-control" name="information[address]" value="<%= @information.address %>"></div>                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><span style="color: red">*</span>邮　编</label>
                            <div class="col-sm-6">
                                <div><input type="text" class="form-control" name="information[zip_code]" value="<%= @information.zip_code %>" maxlength="8"></div>                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-6 text-right"><button class="btn btn-primary btn_save_basic" type="button"><i class="fa fa-check"></i>　提　交　</button>　</div>
          </div>
        </div>
    </form>
</div>


<script type="text/javascript">
 $(function() {
        $('#datetimepicker1').datetimepicker({ 
        　　minView: "month", //选择日期后，不会再跳转去选择时分秒 
        　　format: "yyyy-mm-dd", //选择日期后，文本框显示的日期格式 
    　　  　language: 'zh-CN', //汉化 
　     　   autoclose:true //选择日期后自动关闭 
        });
 });
</script>
</body>