<p id="notice"><%= notice %></p>

<p>
  <b>Resume name:</b>
  <%= @resume.resume_name %>
</p>

<p>
  <b>Name:</b>
  <%= @resume.name %>
</p>

<p>
  <b>Profession:</b>
  <%= @resume.profession %>
</p>

<p>
  <b>Birthplace:</b>
  <%= @resume.birthplace %>
</p>

<p>
  <b>Area:</b>
  <%= @resume.area %>
</p>

<p>
  <b>Sex:</b>
  <%= @resume.sex %>
</p>

<p>
  <b>Birthday year:</b>
  <%= @resume.birthday_year %>
</p>

<p>
  <b>Education:</b>
  <%= @resume.education %>
</p>

<p>
  <b>Marriage:</b>
  <%= @resume.marriage %>
</p>

<p>
  <b>Height:</b>
  <%= @resume.height %>
</p>

<p>
  <b>Work experience:</b>
  <%= @resume.work_experience %>
</p>

<p>
  <b>Form:</b>
  <%= @resume.form %>
</p>

<p>
  <b>Job:</b>
  <%= @resume.job %>
</p>

<p>
  <b>Area:</b>
  <%= @resume.area %>
</p>

<p>
  <b>Salary:</b>
  <%= @resume.salary %>
</p>

<p>
  <b>Phone:</b>
  <%= @resume.phone %>
</p>

<p>
  <b>Qq:</b>
  <%= @resume.QQ %>
</p>

<p>
  <b>Email:</b>
  <%= @resume.email %>
</p>

<p>
  <b>Blog:</b>
  <%= @resume.blog %>
</p>

<p>
  <b>Address:</b>
  <%= @resume.address %>
</p>

<p>
  <b>Value:</b>
  <%= @resume.value %>
</p>

<p>
  <b>User:</b>
  <%= @resume.user_id %>
</p>


<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>
